#loading
  %p Loading&hellip;
  %p.msg - Initializing -
  
#no-audio
  %h1 No Web Audio API
  %p Sorry, this experiment requires the Web Audio API.
  %a{:href => "http://caniuse.com/#feat=audio-api", :target => "_blank"} See browser support